* {
    outline:0.1px solid;
    box-sizing: border-box;
}

html, body { 
    background-color: aqua;
}

.grid { 
    /* width:12.5px;
    height:12.5px; */
    display: flex;
}

.container { 
    display: flex;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    background-color: white;
    
}

/* 
.clear { 

    outline:0.1px solid; */
/* } */

/* .box { 
    display: flex;
    padding: 20px, 20px, 20px, 20px;
    background-color: white;
    border-radius: 5px; 
    flex-grow: 0;
} */