* {
    box-sizing: border-box;
    /* border: solid white; */
    
    
}

html { 
    background-color: rgba(43, 43, 43, 0.986);
    display:flex;
    justify-content: center;
    padding-top: 15px;
}

.title {
    font-size: 40px;
    color: white;
    font-family: monospace;
}

.intro {
    font-size: 40px;
    font-family: monospace;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: crimson;
    width: 600px;
    border-radius: 50px;
    padding-bottom: 20px;
    padding-top:20px;
    outline: 0.1px solid black;
}

.container { 
    outline: 0.1px solid black;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    justify-content: center;
}

button {
    font-size: 25px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;

 
}

.pixel {
    outline: 0.1px solid black;
}

